<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475856242627-4na99ka5o1kqee84af08gi46ph9lpa7h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475856242627-4na99ka5o1kqee84af08gi46ph9lpa7h</string>
	<key>API_KEY</key>
	<string>AIzaSyA5dmYt4Hgelmqk3lfeN93NpAK6G9pmp9k</string>
	<key>GCM_SENDER_ID</key>
	<string>475856242627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.poc.maps.app</string>
	<key>PROJECT_ID</key>
	<string>mapsapp-2019</string>
	<key>STORAGE_BUCKET</key>
	<string>mapsapp-2019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475856242627:ios:5856c3a7f1e597d4</string>
	<key>DATABASE_URL</key>
	<string>https://mapsapp-2019.firebaseio.com</string>
</dict>
</plist>